<html>
    <head>
        <title>Incorrect Password</title>
        <script>
            alert('Incorrect password')
            location.replace('/room/<%= roomId %>')
        </script>
    </head>
</html>