<section>
    <h2>Create your own room</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Enter a password</label>
        <input id="room-pass" type="password" name="password" placeholder="Enter a password" />
        <button>
            <img src="images/users-white.svg" alt="Create Room" />
            Create Room
        </button>
    </form>
</section>