<section>
    <h2>Enter as a participant</h2>
    <form action="/home" method="POST">
        <label class="sr-only" for="room-id">Room code</label>
        <input id="room-id" type="number" name="roomId" placeholder="Room code" />
        <button>
            <img src="images/enter-room.svg" alt="Enter the room" />
            Enter the room
        </button>
    </form>
</section>

<div class="separator">
    <p>or</p>
</div>

<section>
    <h2>Create your own room the easy way</h2>
    <a class="button outlined" href="/create-room">
        <img src="images/users.svg" alt="Create Room" />
        Create Room
    </a>
</section>